#! Ignore auxiliary files
*~
*.log
*.old

# Ignore build artifacts
*.o
*.tab.*
*.yy.c
paxi_parser.c
paxi_parser.h
paxi_scanner.c

# Ignore executables
paxic
pvm

#! Ignore build system files
*.in
*.deps
autom4te.cache
config.status
config.log
aclocal.m4
compile
depcomp
install-sh
missing
stamp-h1
ylwrap

#Ignore .pvm files
*.pvm

